<a href="https://colab.research.google.com/github/YuYeJi-Project/Petom/blob/Sunnnyyy16/hospital_data_preprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 행정안전부_동물병원 데이터 전처리
* 데이터 출처 : https://www.data.go.kr/data/15045050/fileData.do

# gdrive Mount

In [1]:
from google.colab import drive
drive.mount('/gdrive')

Mounted at /gdrive

In [2]:
!cp '/gdrive/MyDrive/petom/csv_files/행정안전부_동물병원.csv' ./

cp: cannot stat '/gdrive/MyDrive/petom/csv_files/행정안전부_동물병원.csv': No such file or directory

# 데이터 로드

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
original = pd.read_csv('/gdrive/MyDrive/Petom/csv_files/행정안전부_동물병원.csv', encoding='cp949')
original.head()

,번호,인허가일자,영업상태구분코드,영업상태명,상세영업상태코드,상세영업상태명,소재지전화,소재지면적,소재지전체주소,도로명전체주소,도로명우편번호,사업장명,좌표정보(x),좌표정보(y)
0,1,20121224,3,폐업,2.0,폐업,251-1255,83.84,광주광역시 북구 두암동 927-1,광주광역시 북구 삼정로 95 (두암동),61157.0,엔젤동물병원,194205.7500,185704.2450
1,2,20130312,3,폐업,2.0,폐업,576-7093,0.00,광주광역시 북구 신용동 691번지,"광주광역시 북구 첨단연신로91번길 44, 105호 (신용동, 대성빌딩)",61087.0,첨단동물병원,187131.9586,189712.3100
2,3,20160121,3,폐업,2.0,폐업,625712808,0.00,광주광역시 북구 본촌동 378-6번지,"광주광역시 북구 본촌마을길 27 (본촌동, 동물보호소)",61027.0,광주광역시동물보호소부속동물병원,189132.5237,191478.4166
3,4,19910710,3,폐업,2.0,폐업,529-7775,36.00,광주광역시 북구 양산동 273-7번지,광주광역시 북구 하서로 367 (양산동),NaN,운암동물병원,188395.4757,189857.2852
4,5,20170105,3,폐업,2.0,폐업,NaN,0.00,NaN,"광주광역시 북구 본촌마을길 27 (본촌동, 동물보호소)",61027.0,광주동물보호소 부속 동물병원,189145.0000,191466.0000

In [6]:
original.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9489 entries, 0 to 9488
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   번호        9489 non-null   int64
 1   인허가일자     9489 non-null   int64
 2   영업상태구분코드  9489 non-null   int64
 3   영업상태명     9489 non-null   object
 4   상세영업상태코드  9488 non-null   float64
 5   상세영업상태명   9488 non-null   object
 6   소재지전화     7216 non-null   object
 7   소재지면적     8948 non-null   float64
 8   소재지전체주소   9283 non-null   object
 9   도로명전체주소   7823 non-null   object
 10  도로명우편번호   6298 non-null   float64
 11  사업장명      9489 non-null   object
 12  좌표정보(x)   8315 non-null   float64
 13  좌표정보(y)   8315 non-null   float64
dtypes: float64(5), int64(3), object(6)
memory usage: 1.0+ MB

## 컬럼별 null값 개수 확인

In [7]:
original.isnull().sum()

번호             0
인허가일자          0
영업상태구분코드       0
영업상태명          0
상세영업상태코드       1
상세영업상태명        1
소재지전화       2273
소재지면적        541
소재지전체주소      206
도로명전체주소     1666
도로명우편번호     3191
사업장명           0
좌표정보(x)     1174
좌표정보(y)     1174
dtype: int64

## '영업상태명' count 확인

In [8]:
original.groupby('영업상태명').count()

,번호,인허가일자,영업상태구분코드,상세영업상태코드,상세영업상태명,소재지전화,소재지면적,소재지전체주소,도로명전체주소,도로명우편번호,사업장명,좌표정보(x),좌표정보(y)
영업상태명,,,,,,,,,,,,,
영업/정상,4999,4999,4999,4998,4998,3928,4625,4926,4972,4618,4999,4869,4869
취소/말소/만료/정지/중지,52,52,52,52,52,30,52,50,39,27,52,50,50
폐업,4415,4415,4415,4415,4415,3237,4250,4285,2792,1634,4415,3374,3374
휴업,23,23,23,23,23,21,21,22,20,19,23,22,22

# '영업상태명' 컬럼에서 '영업/정상'만 뽑기

In [9]:
original_open = original[original['영업상태명']=='영업/정상']
original_open.head()

,번호,인허가일자,영업상태구분코드,영업상태명,상세영업상태코드,상세영업상태명,소재지전화,소재지면적,소재지전체주소,도로명전체주소,도로명우편번호,사업장명,좌표정보(x),좌표정보(y)
4438,4439,19950601,1,영업/정상,NaN,NaN,NaN,0.00,경상북도 문경시 문경읍 하리,NaN,NaN,문경가축병원,NaN,NaN
4491,4492,20120511,1,영업/정상,0.0,정상,571-9114,93.97,광주광역시 북구 일곡동 843-5번지,광주광역시 북구 양일로305번길 8 (일곡동),61040.0,일곡동물병원,190562.9092,189333.0171
4492,4493,20150123,1,영업/정상,0.0,정상,NaN,0.00,광주광역시 북구 임동 5-16번지,광주광역시 북구 태봉로 37-6 (임동),61244.0,우리동물병원,191120.4200,184715.8661
4493,4494,20150518,1,영업/정상,0.0,정상,062-574-7975,90.00,광주광역시 북구 양산동 254-123,"광주광역시 북구 하서로 371, 1층 (양산동)",61074.0,참좋은 동물병원,188403.3482,189881.7854
4494,4495,20150526,1,영업/정상,0.0,정상,224-7582,99.84,광주광역시 북구 오치동 1028-27,광주광역시 북구 서하로 319-1 (오치동),61124.0,김앤강 동물병원,192235.3200,187547.2500

In [10]:
# null값 개수 확인

original_open.isnull().sum()

번호             0
인허가일자          0
영업상태구분코드       0
영업상태명          0
상세영업상태코드       1
상세영업상태명        1
소재지전화       1071
소재지면적        374
소재지전체주소       73
도로명전체주소       27
도로명우편번호      381
사업장명           0
좌표정보(x)      130
좌표정보(y)      130
dtype: int64

# 좌표정보가 null인 Row 삭제

In [11]:
hospital_loc = original_open.dropna(subset=['좌표정보(x)']).reset_index()
hospital_loc.head()

,index,번호,인허가일자,영업상태구분코드,영업상태명,상세영업상태코드,상세영업상태명,소재지전화,소재지면적,소재지전체주소,도로명전체주소,도로명우편번호,사업장명,좌표정보(x),좌표정보(y)
0,4491,4492,20120511,1,영업/정상,0.0,정상,571-9114,93.97,광주광역시 북구 일곡동 843-5번지,광주광역시 북구 양일로305번길 8 (일곡동),61040.0,일곡동물병원,190562.9092,189333.0171
1,4492,4493,20150123,1,영업/정상,0.0,정상,NaN,0.00,광주광역시 북구 임동 5-16번지,광주광역시 북구 태봉로 37-6 (임동),61244.0,우리동물병원,191120.4200,184715.8661
2,4493,4494,20150518,1,영업/정상,0.0,정상,062-574-7975,90.00,광주광역시 북구 양산동 254-123,"광주광역시 북구 하서로 371, 1층 (양산동)",61074.0,참좋은 동물병원,188403.3482,189881.7854
3,4494,4495,20150526,1,영업/정상,0.0,정상,224-7582,99.84,광주광역시 북구 오치동 1028-27,광주광역시 북구 서하로 319-1 (오치동),61124.0,김앤강 동물병원,192235.3200,187547.2500
4,4495,4496,20150630,1,영업/정상,0.0,정상,062) 419-7582,189.00,광주광역시 북구 우산동 609-3,광주광역시 북구 중문로 74 (우산동),61172.0,빛고을 동물의료센터,192695.3842,186661.0310

# 필요한 컬럼만 뽑기

In [12]:
hospital = hospital_loc[['상세영업상태명', '소재지전화','소재지전체주소','도로명전체주소','도로명우편번호','사업장명','좌표정보(x)','좌표정보(y)']]
hospital.head()

,상세영업상태명,소재지전화,소재지전체주소,도로명전체주소,도로명우편번호,사업장명,좌표정보(x),좌표정보(y)
0,정상,571-9114,광주광역시 북구 일곡동 843-5번지,광주광역시 북구 양일로305번길 8 (일곡동),61040.0,일곡동물병원,190562.9092,189333.0171
1,정상,NaN,광주광역시 북구 임동 5-16번지,광주광역시 북구 태봉로 37-6 (임동),61244.0,우리동물병원,191120.4200,184715.8661
2,정상,062-574-7975,광주광역시 북구 양산동 254-123,"광주광역시 북구 하서로 371, 1층 (양산동)",61074.0,참좋은 동물병원,188403.3482,189881.7854
3,정상,224-7582,광주광역시 북구 오치동 1028-27,광주광역시 북구 서하로 319-1 (오치동),61124.0,김앤강 동물병원,192235.3200,187547.2500
4,정상,062) 419-7582,광주광역시 북구 우산동 609-3,광주광역시 북구 중문로 74 (우산동),61172.0,빛고을 동물의료센터,192695.3842,186661.0310

In [13]:
hospital.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4869 entries, 0 to 4868
Data columns (total 8 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   상세영업상태명  4869 non-null   object
 1   소재지전화    3843 non-null   object
 2   소재지전체주소  4798 non-null   object
 3   도로명전체주소  4858 non-null   object
 4   도로명우편번호  4504 non-null   float64
 5   사업장명     4869 non-null   object
 6   좌표정보(x)  4869 non-null   float64
 7   좌표정보(y)  4869 non-null   float64
dtypes: float64(3), object(5)
memory usage: 304.4+ KB

## 컬럼별 null값 확인

In [14]:
hospital.isnull().sum()

상세영업상태명       0
소재지전화      1026
소재지전체주소      71
도로명전체주소      11
도로명우편번호     365
사업장명          0
좌표정보(x)       0
좌표정보(y)       0
dtype: int64

## '도로명우편주소' 컬럼의 데이터 형식 str으로 변경

In [15]:
# '도로명우편주소'에 포함된 null값 0으로 채우기
# -1을 'none'으로 변경
hospital['도로명우편번호'] = hospital['도로명우편번호'].fillna(0)

# '도로명우편주소' datatype 을 float -> int로 변경
hospital['도로명우편번호'] = hospital['도로명우편번호'].astype(int)

# '도로명우편주소' datatype 을 int -> str로 변경
hospital['도로명우편번호'] = hospital['도로명우편번호'].astype(str)

# '도로명우편주소' == '0'을 'none'으로 변경
hospital['도로명우편번호'] = hospital['도로명우편번호'].replace({'0': None})

hospital.head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':

,상세영업상태명,소재지전화,소재지전체주소,도로명전체주소,도로명우편번호,사업장명,좌표정보(x),좌표정보(y)
0,정상,571-9114,광주광역시 북구 일곡동 843-5번지,광주광역시 북구 양일로305번길 8 (일곡동),61040,일곡동물병원,190562.9092,189333.0171
1,정상,NaN,광주광역시 북구 임동 5-16번지,광주광역시 북구 태봉로 37-6 (임동),61244,우리동물병원,191120.4200,184715.8661
2,정상,062-574-7975,광주광역시 북구 양산동 254-123,"광주광역시 북구 하서로 371, 1층 (양산동)",61074,참좋은 동물병원,188403.3482,189881.7854
3,정상,224-7582,광주광역시 북구 오치동 1028-27,광주광역시 북구 서하로 319-1 (오치동),61124,김앤강 동물병원,192235.3200,187547.2500
4,정상,062) 419-7582,광주광역시 북구 우산동 609-3,광주광역시 북구 중문로 74 (우산동),61172,빛고을 동물의료센터,192695.3842,186661.0310

In [16]:
hospital.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4869 entries, 0 to 4868
Data columns (total 8 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   상세영업상태명  4869 non-null   object
 1   소재지전화    3843 non-null   object
 2   소재지전체주소  4798 non-null   object
 3   도로명전체주소  4858 non-null   object
 4   도로명우편번호  4504 non-null   object
 5   사업장명     4869 non-null   object
 6   좌표정보(x)  4869 non-null   float64
 7   좌표정보(y)  4869 non-null   float64
dtypes: float64(2), object(6)
memory usage: 304.4+ KB

## shape 확인
* (4869,9)

In [17]:
np.shape(hospital)

(4869, 8)

In [18]:
hospital.isnull().sum()

상세영업상태명       0
소재지전화      1026
소재지전체주소      71
도로명전체주소      11
도로명우편번호     365
사업장명          0
좌표정보(x)       0
좌표정보(y)       0
dtype: int64

# csv 파일 gdrive 다운

In [20]:
hospital.to_csv('/gdrive/MyDrive/Petom/csv_files/hospital.csv', encoding = 'utf-8')